{% extends 'index/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Elite Dream Builders offers premium construction services for residential and commercial spaces. Get quotes, view projects, and read reviews.">
    <meta name="keywords" content="construction, house building, residential, commercial, elite, dream builders">
    <meta name="author" content="Elite Dream Builders Team">
    <title>{% if title %}{{ title }}{% else %}Elite Dream Builders{% endif %}</title>
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'images/favicon-512x512.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/elite.css" %}">
    
</head>
<body>
{% block content %}
<div class="bg-video">
  {% if about_title_video %}
    <video autoplay loop muted playsinline controls>
      <source src="{{ video_url }}" type="video/mp4">
    </video>
  {% else %}
    <video autoplay loop muted playsinline>
      <source src="{% static 'videos/Video 1.mp4' %}" type="video/mp4">
    </video>
  {% endif %}
</div>

<div class="text-bg animation slide-up" id="bg-grow2">
  <div class="outline-text">
    <h1>THE ELITE DREAM BUILDERS</h1>
  </div>
</div>

<div class="box1">
  <div class="box1-container">
    <div class="box1-text section-title-wrapper" style="text-align:center;">
      <h1 data-animate="from-top">WHO WE ARE ?</h1>
      <div class="line5" data-animate="from-right"></div>
      <p data-animate="from-bottom">At The Elite Dream Builders, we understand the importance of your investment and the trust you place in us. With over a decade of experience and a strong reputation in Trichy, we don't just promise quality – we deliver it consistently.</p>

      <p data-animate="from-bottom">Our commitment to transparency means no hidden fees, no surprises – just honest, reliable service. We treat your home as a serious investment, and we take every step to ensure it meets the highest standards. From open communication to respecting your budget, our team is dedicated to building your dream home.</p>

      <p data-animate="from-bottom">Interested in seeing our work in progress? Explore our ongoing projects to see the quality and innovation we bring to every home.</p>

      <h1 data-animate="from-top" style="text-align:center;">OUR STORY</h1>
      <div class="line5" data-animate="from-right"></div>
      <p data-animate="from-bottom">The Elite Dream Builders was founded by two visionary brothers, Hari (Founder) and Aravind (Managing Director), who grew up in Trichy, Tamil Nadu, with a shared mission to bring world-class construction standards to their hometown.</p>

      <p data-animate="from-bottom">At The Elite Dream Builders, we believe in building more than just homes. We’re creating spaces that transform communities. With Hari’s industry expertise and Aravind’s design excellence, we deliver premium-quality villas, turnkey homes, and commercial projects. Our commitment to quality, integrity, and client satisfaction makes us the trusted name for construction in Trichy.</p>
    </div>

    <div class="box1-img" data-animate="from-bottom">
      {% if about %}
        <video autoplay loop muted controls playsinline>
          <source src="{{ about_url }}" type="video/mp4">
        </video>
      {% else %}
        <h2>Video not available</h2>
      {% endif %}
    </div>
  </div>
</div>
<div class="home-content-3">
      <div class="home-content-head">
        <h4  data-animate="from-bottom"  data-aos="fade-up" data-aos-duration="1000" style="background-color: var(--backGround);">OUR SPECIAL SUPPORT</h4>
        <h2  data-animate="from-bottom"  data-aos="fade-up" data-aos-duration="1000" style="background-color: var(--backGround);">WHY CHOOSE US</h2>
      </div>
      <div class="home-content-2-row2">
        <div class="home-content-2-row-col-1" >
          <p  data-aos="animation slide-up">At Elite Dream Builders Construction we believe in providing value by controlling cost, adequate scheduling and thorough understanding and investigation of client requirements. Applying these fundamentals to each and every project guarantees timely delivery of Works to our exacting standard. ,</p>
          <div class="home-content-2-row-col-1-content">
            <div class="home-content-2-row-col-1-box">
              <p  data-animate="from-left"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>  Expert & Professional</p>
              <p data-animate="from-left"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>  High Quality Work</p>
              <p data-animate="from-left"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>  Quick In Response</p>
            </div>
            <div class="home-content-2-row-col-1-box">
              <p data-animate="from-right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>  Professional Approach</p>
              <p data-animate="from-right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>  Satisfaction Guarantee</p>
              <p data-animate="from-right"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>  24/7 Emergency</p>
            </div>
          </div>
        </div>
<!--         <div class="home-logo-col" data-animate="fade-in">
          <a href="{% url 'contact' %}">
            <img src="{% static 'images/logo.PNG' %}" alt="Logo" />
          </a>
        </div> -->
      </div>
    </div>
<div class="counters" data-animate="from-bottom">
  <div class="counter-grid">
    <div class="counter">
      <h1 data-animate="from-bottom"><span data-count="10">10</span>+</h1>
      <h3 data-animate="from-bottom">YEARS EXPERIENCE</h3>
    </div>
    <div class="counter">
      <h1 data-animate="from-bottom"><span data-count="90">90</span>+</h1>
      <h3 data-animate="from-bottom">COMPLETED PROJECTS</h3>
    </div>
    <div class="counter">
      <h1 data-animate="from-bottom"><span data-count="100">100</span>%</h1>
      <h3 data-animate="from-bottom">SUCCESS RATE</h3>
    </div>
    <div class="counter">
      <h1 data-animate="from-bottom"><span data-count="10">10</span>+</h1>
      <h3 data-animate="from-bottom">PROFESSIONAL AWARDS</h3>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  function isInViewport(element) {
    const rect = element.getBoundingClientRect();
    return (
      rect.top < window.innerHeight && rect.bottom > 0 &&
      rect.left < window.innerWidth && rect.right > 0
    );
  }

  function animateOnScroll() {
    const elements = document.querySelectorAll('.animation');
    elements.forEach(element => {
      if (isInViewport(element) && !element.classList.contains('show')) {
        element.classList.add('show');
      }
    });
  }

  function optimizedScroll() {
    requestAnimationFrame(animateOnScroll);
  }

  document.addEventListener('DOMContentLoaded', animateOnScroll);
  window.addEventListener('scroll', optimizedScroll);

  window.addEventListener("load", function () {
    document.getElementById("loader").style.display = "none";
  });

  setTimeout(() => {
    document.getElementById("loader").style.display = "none";
  }, 3000);
</script>
{% endblock %}

</body>
</html>
