{%load static%}
<!DOCTYPE html>
<html lang="en">
  <!-- divinectorweb.com -->
<head>
    <meta charset="UTF-8">
    <title>Elite | About</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/elite.css" %}">
</head>
<body>
    
  <div class="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg text-center px-4 fixed-top" id="container">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="{% static 'images/logo.PNG' %}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'home'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'about'%}">About</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'projects'%}">Projects</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link text-white" href="{% url 'get_quote'%}">Get Quote</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Testimonals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Contact</a>
        </li>          
      </ul>
    </div>
  </div>
  <div id="line3" class="line3"></div>
</nav>
</div>  
    <div class="box1">
        <div class="box1-container">
            <div class="box1-img">
              {% if about.video %}
                <video controls autoplay loop >
                    <source src="{{  about.video.url  }}" type="video/mp4">
                </video>
                {% else %}
                  <p>No video available.</p>
                {% endif%}
            </div>
            <div class="box1-text">
                <h2>Our <span class="highlight">Story</span></h2>
                <p> The Elite Dream Builders was founded by two visionary brothers, Hari (Founder) and Aravind (Managing Director), 
                    who grew up in Trichy, Tamil Nadu, with a shared mission to bring world-class construction standards to their hometown. 
                    Their journey from humble beginnings to becoming trusted builders in Trichy is a testament to their passion for quality, 
                    transparency, and community impact.</p>
                    <p> At The Elite Dream Builders, we believe in building more than just homes. We’re creating spaces that transform communities.
                        With Hari’s industry expertise and Aravind’s design excellence, we deliver premium-quality villas, turnkey homes, and 
                        commercial projects. Our commitment to quality, integrity, and client satisfaction makes us the trusted name for 
                        construction in Trichy.
                    </p>
            </div>
        </div>
        <div class="row1">
          <div class="row1-box">
          <div class="row1-col">
            <div class="row1-icons">
              <img src="/list.png">
            </div>
            <h2><span class="digit">10</span> year of experience</h2>
          </div>
          <div class="row1-col">
            <div class="row1-icons">
              <img src="/thumb.png">
            </div>
            <h2><span class="digit">70+</span> Happy Customer</h2>
          </div>
          <div class="row1-col">
            <div class="row1-icons">
              <img src="/award.png">
            </div>
            <h2><span class="digit">10+</span> Professional Awards</h2>
          </div>
       </div>
      </div>
      <div class="footer-contant">
        <div class="footer-contant-box">
          <div class="footer-contant-col">
            <a href="/design.html"><img src="{% static 'images/logo.PNG' %}"></a>
          </div>
          <div class="footer-contant-col">
              <h2>Usefull Links</h2>
              <a href="">Home</a>
              <a href="">about</a>
              <a href="">Projects</a>
              <a href="">Get Quote</a>
              <a href="">Testimonals</a>
              <a href="">Contact</a>
          </div>
          <div class="footer-contant-col">
            <h2>Our Services</h2>
            <a href="">Turnkey House Construction</a>
            <a href="">Commercial Construction</a>
          </div>
          <div class="footer-contant-col">
            <h2>Contact Us</h2>
            <p>Er.Hari Anand,Moogambikai Nagar,7th Cross Extension, Trichy-11.</p>
            <p>Call Us : 9865907104</p>
            <p>Email : <a href=" mailto:info@elitedreambuilders.in" > info@elitedreambuilders.in</a></p>
          </div>
        </div>
      </div>
    </div>
    
  <footer>
    <div class="footer" id="footer">
        <p>&copy; 2025 Elite Dream Builders. All Rights Reserved.</p>
    </div>
</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
    <script>
       
       window.addEventListener("scroll", function() {
            let navbar = document.getElementById("container");
            if (window.scrollY > 50) { // Change color after 50px scroll
                navbar.style.backgroundColor="#1b1b1b";
                navbar.style.width="100vw"
            } else {
                navbar.style.backgroundColor="transparent";
            }
        });
        window.addEventListener("scroll", function() {
            let navbar = document.getElementById("footer");
            if (window.scrollY > 50) { // Change color after 50px scroll
                navbar.style.backgroundColor="#1b1b1b";
                navbar.style.display="block";
            } else {
                navbar.style.display="none";
            }
        });
       window.addEventListener("scroll", function() {
            let scrollTop = window.scrollY;
            let docHeight = document.documentElement.scrollHeight - window.innerHeight;
            let scrollPercentage = (scrollTop / docHeight) * 100; // Calculate percentage

            let progressLine = document.getElementById("line3");
            progressLine.style.width = scrollPercentage + "%"; // Set width dynamically
        });
       
    </script>
</body>
</html>
