{% extends 'index/base.html'  %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
  <!-- divinectorweb.com -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Elite Dream Builders offers premium construction services for residential and commercial spaces. Get quotes, view projects, and read reviews.">
    <meta name="keywords" content="construction, house building, residential, commercial, elite, dream builders">
    <meta name="author" content="Elite Dream Builders Team">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'images/favicon-512x512.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/elite.css" %}">
    
</head>
<body>
  {% block content %}



<div class="swiper videoSwiper">
  <div class="swiper-wrapper">
    {% for project in videoslider %}
    <div class="terms-head-overlay-video"></div>
      <div class="swiper-slide">
        <video controls class="slider-video" autoplay muted loop>
          <source src="{{ project.video_file.url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div class="contact-head">
          <h1>Contact us</h1>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
  <!-- navigation -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>


<div class="box2">
  <div class="box2-bg">
    <div class="contact-box2-header">
        <h2 class="animation slide-down"><span class="w">Contact</span> Us</h2>
    </div>
    <div class="contact-box2-body">
        <div class="contact-box2-text">
            <h1 class="get-h1 animation slide-right"><span class="w"> Get </span>in touch</h1>
            <div class="line5 animation flip"></div>
            <p class="animation slide-up">If you have any questions or queries a member of staff will always be happy to help. Feel free to contact us by telephone or email and we will be sure to get back to you as soon as possible.</p>
        </div>
        <div class="contact-box2-content">
          
            <div class="card4 animation zoom-in">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gold" class="size-6">
                <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
              </svg>
                <div class="card__content">
                  <p class="card__title">Location</p>
                  <h6>Er.HARI ANAND,</h6>
                  <h6>Er.ARAVIND,</h6>
                  <p><address>Moogambikai Nagar,7th Cross Extension,Trichy</address></p>
                </div>
            </div>
            <div class="card4 animation zoom-in">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gold" class="size-6">
                <path d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z" />
                <path d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z" />
              </svg>              
                <div class="card__content">
                  <p class="card__title">Mail</p>
                  <h6><a href="mailto:elitedreambuilders07@gmail.com">elitedreambuilders07@gmail.com</a></h6>
                  <h6><a href="mailto:info@elitedreambuilders.in">info@elitedreambuilders.in</a></h6>
                  <p></p>
                </div>
            </div>
            <div class="card4 animation zoom-in">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gold" class="size-6">
                <path fill-rule="evenodd" d="M1.5 4.5a3 3 0 0 1 3-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 0 1-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 0 0 6.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 0 1 1.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 0 1-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5Z" clip-rule="evenodd" />
              </svg>              
                <div class="card__content">
                  <p class="card__title">Vist our Office</p>
                  <h6>CALL US NOW</h6>
                  <p><a href="tel:+919865907104">+91-9865907104</a><br><a href="tel:+919865907104">+91-7092529940</a></p>
                </div>
            </div>
            <div class="card4 animation zoom-in">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gold" class="size-6">
                <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z" clip-rule="evenodd" />
              </svg>              
                <div class="card__content">
                  <p class="card__title">Working Hour</p>
                  <h6>Mon - Sat: 10am to 7pm</h6>
                  <p>Sunday : closed</p>
                </div>
            </div>
        </div>
    </div>
    <div class="map animation slide-down">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1959.574669303927!2d78.74762226674409!3d10.799872028547838!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baaf5682b46b427%3A0xd2973161faa960e!2sThe%20Elite%20Dream%20Builders!5e0!3m2!1sen!2sin!4v1741618886528!5m2!1sen!2sin"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"  class="map-iframe"></iframe>
    </div>
</div>
</div>
{% comment %} <div  class="grid-container-box-head"><h1>Meet Our Team</h1></div>
<div class="grid-container-bg">
<div class="grid-container-box">
  {% for image in images %}
      <div class="grid-item item-{{ forloop.counter }}">
          <img src="{{ image.image.url }}" alt="{{ image.title }}" class="animation zoom-in">
      </div>
  {% empty %}
      <p>No images available</p>
  {% endfor %}
</div>
</div> {% endcomment %}




<section class="team-section">
  <div class="team-header">
    <h2>OUR TEAM</h2>
    <p>At Elite Dream Builders, our strength lies in a passionate team of visionaries, engineers, and creators who bring a wealth of experience and innovation to every project.</p>
    <p>We don't just build structures — we build dreams. With a commitment to excellence and a drive to lead by example, our team ensures every project stands as a testament to quality, trust, and craftsmanship.</p>
  </div>
  <div class="team-container">
    {% for section in about_sections %}
    <div class="team-card" data-aos="fade-up" data-aos-duration="1000">
      <div class="team-img-wrapper">
        <img src="{{ section.image.url }}" alt="{{ section.author_name }}">
      </div>
      <div class="team-info">
        <h3>{{ section.author_name }}</h3>
        <p>{{ section.author_designation }}</p>
        <span class="plus-icon">+</span>
      </div>
    </div>
    {% empty %}
      <p>No team members available</p>
    {% endfor %}
  </div>
</section>

<section class="contact-sections">
  <div class="contact-container-2" data-aos="fade-up" data-aos-duration="1000">
    <h2 class="contact-title">Get in Touch</h2>
    <p class="contact-subtitle">We’d love to hear from you. Send us a message!</p>
    {% if messages %}
  <div class="form-messages">
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}
    <form class="contact-form" action="{% url 'contact' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" name="name" placeholder="Your Name" required>
      </div>
      <div class="form-group">
        <input type="email" name="email" placeholder="Your Email" required>
      </div>
      <div class="form-group">
        <input type="text" name="subject" placeholder="Subject" required>
      </div>
      <div class="form-group">
        <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
      </div>
      <button type="submit" class="submit-btn">Send Message</button>
    </form>
  </div>
</section>

{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
    <script src="{% static "js/elite.js" %}"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    {% comment %} slider {% endcomment %}
    {% block extra_js %}
    <script>
      const swiper = new Swiper('.videoSwiper', {
        loop: true,
        effect: 'slide', // 'fade' or 'coverflow' also works
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        slidesPerView: 1,
        spaceBetween: 30,
        autoplay: {
          delay: 7000,
          disableOnInteraction: false,
        },
      });
    </script>
    
	<script>
	
      {% comment %} Animation (AOS Library) {% endcomment %}
      AOS.init();
	</script>
  <script>
    function isInViewport(element) {
      const rect = element.getBoundingClientRect();
      return (
          rect.top < window.innerHeight && rect.bottom > 0 &&
          rect.left < window.innerWidth && rect.right > 0
      );
  }
  
  function animateOnScroll() {
      const elements = document.querySelectorAll('.animation');
      elements.forEach(element => {
          if (isInViewport(element) && !element.classList.contains('show')) {
              element.classList.add('show');
              element.getBoundingClientRect(); // Force repaint
          }
      });
  }
  
  function optimizedScroll() {
      requestAnimationFrame(animateOnScroll);
  }
  
  document.addEventListener('DOMContentLoaded', animateOnScroll);
  window.addEventListener('scroll', optimizedScroll);

  
  window.addEventListener("load", function () {
    document.getElementById("loader").style.display = "none";
  });
  
  setTimeout(() => {
    document.getElementById("loader").style.display = "none";
}, 3000); // Hides loader after 5 seconds    




</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    let currentSlide = 0;
    const slides = document.querySelectorAll(".slider-sections");

    function showSlide(index) {
      slides.forEach((slide, i) => {
        slide.classList.remove("active");
        if (i === index) {
          slide.classList.add("active");
        }
      });
    }

    function nextSlide() {
      currentSlide = (currentSlide + 1) % slides.length;
      showSlide(currentSlide);
    }

    showSlide(currentSlide);
    setInterval(nextSlide, 5000);
  });
</script>
{% endblock %}
</body>
</html>
