{% extends 'index/base.html' %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Elite Dream Builders offers premium construction services for residential and commercial spaces. Get quotes, view projects, and read reviews.">
    <meta name="keywords" content="construction, house building, residential, commercial, elite, dream builders">
    <meta name="author" content="Elite Dream Builders Team">
    <title>{% if title %}{{ title }}{% else %}Elite Dream Builders{% endif %}</title>
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'images/favicon-512x512.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/elite.css" %}">
  
</head>
<body>
   {% block content %}

<div class="terms-head" style="background-image: url('{{ project.image.url }}' );">
  <h1 class="w">{{ project.title }}</h1>
</div>
<div class="project-detail-container">
  <div class="project-detail-wrapper" data-aos="fade-up" data-aos-duration="1000">
<!--     <div class="project-image">
      <img src="{{ project.image.url }}" alt="{{ project.title }}"  loading="lazy">
    </div> -->
    <div class="project-info">
      <h2>{{ project.title }}</h2>
      <ul>
        <li><strong>Location:</strong> {{ project.location }}</li>
        <li><strong>Completion Date:</strong> {{ project.date }}</li>
        <li><strong>BHK:</strong> {{ project.bhk }}</li>
        <li><strong>Description:</strong> {{project.description}}</li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
    <script src={% static "js/elite.js" %}></script>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    {% block extra_js %}
    <script>
      //Animation (AOS Library)
      AOS.init();
      function isInViewport(element) {
        const rect = element.getBoundingClientRect();
        return (
            rect.top < window.innerHeight && rect.bottom > 0 &&
            rect.left < window.innerWidth && rect.right > 0
        );
    }
    
    function animateOnScroll() {
        const elements = document.querySelectorAll('.animation');
        elements.forEach(element => {
            if (isInViewport(element) && !element.classList.contains('show')) {
                element.classList.add('show');
                element.getBoundingClientRect(); // Force repaint
            }
        });
    }
    
    function optimizedScroll() {
        requestAnimationFrame(animateOnScroll);
    }
    
    document.addEventListener('DOMContentLoaded', animateOnScroll);
    window.addEventListener('scroll', optimizedScroll);

  
    window.addEventListener("load", function () {
      document.getElementById("loader").style.display = "none";
    });
    
    setTimeout(() => {
      document.getElementById("loader").style.display = "none";
  }, 3000); // Hides loader after 5 seconds    
  
  </script>
{% endblock %}
</body>
</html>


